<div class="card highlight-card card-small">
    
    <span>COLOR</span>
  
  </div>

<div class="card-container">
    <div class="card card-small highlight-card-2 " tabindex="0">
      <span>ID :</span>
    </div>
    <div class="card card-small highlight-card-2 " tabindex="0">
        <span>{{data.idColor}} </span>
      </div>
</div>
<div class="card-container">
    <div class="card card-small highlight-card-2 " tabindex="0">
      <span>NAME :</span>
    </div>
    <div class="card card-small highlight-card-2 " tabindex="0">
        <span>{{color.name}} </span>
      </div>
</div>
<div class="card-container">
    <div class="card card-small highlight-card-2 " tabindex="0">
      <span>YEAR :</span>
    </div>
    <div class="card card-small highlight-card-2 " tabindex="0">
        <span>{{color.year}} </span>
      </div>
</div>
<div class="card-container">
    <div class="card card-small highlight-card-2 " tabindex="0">
      <span>COLOR :</span>
    </div>
    <div class="card card-small highlight-card-2 " tabindex="0">
        <span>{{color.color}} </span>
      </div>
</div>
<div class="card-container">
    <div class="card card-small highlight-card-2 " tabindex="0">
      <span>PANTONE : </span>
    </div>
    <div class="card card-small highlight-card-2 " tabindex="0">
        <span>{{color.pantoneValue}} </span>
      </div>
</div>